<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/productDetail.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

</head>
<%- include("../partials/header") %>
<body>
    <main>
        <% products.forEach(function(product) { %>
            <img class="product-img" src="/img/<%= product.image %>" alt="cerveza andes roja">
        <!-- <div class="main-productDetail">
            <section class="product-price">
                
                <div class="title-prices">
                    <h1>Andes Roja x 473cc</h1>
                    <div class="prices-pdetail">
                        <ul>
                            <li class="prices-description">Precio por unidad $200,00</li>
                            <li class="prices-description">Precio por pack $1000</li>
                            <li class="prices-description">Precio al por mayor (más de 12 unidades) $150,00c/u</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="information">
                <div class="over-andes">
                    <h2>Sobre Andes pura malta roja</h2>
                    <p>Dicen que la Andes Origen Roja es la favorita. Está hecha con tres maltas, entre ellas la malta
                        Caramelo que además de darle un aroma suave y sabor balanceado, la visten de un color ámbar
                        cobrizo.
                        Al probarla va a notar una leve acidez con final seco, el amargor justo y un cuerpo intenso.
                        Para
                        que su experiencia sea mucho mejor, no es un dato menor tomarla en copa, así mantendrá los
                        aromas
                        por más tiempo.</p>
                </div>
                <div class="data">
                    <p class="data-row">ALCOHOL 5,1%
                    <br>AMARGO 18 IBU
                    <br>COLOR 18 EBC
                    <br>Estilo: Vienna Lager.
                    <br>Escuela cervecera: Alemana.
                    <br>Ingredientes: Agua, Malta de Cebada, Lúpulo
                    <br>Maltas: Pilsen (argentina), Munich (argentina), Caramelo (argentina)
                    <br>Lúpulos: Cascade (argentina), Zeus (EEUU)
                    <br>Levadura: Lager</p>
                </div>
            </section>
            <div class="valoration">Valoración de los clientes</div>
            <div>4.5- "Muy buena. Buenos precios y muy rapido"</div>
            <div>5- "Excelente, super recomendado"</div>
        
            </div> -->
            <%  }); %>
    </main>
</body>
<%- include("../partials/footer.ejs") %>

</html>