<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Si pinta, Pinta</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header>
        <div class="header-completo">
            <img class="logo" src="img/logo_duende.png" alt="logo SiPintaPinta">
            <nav class="vinculos">
                <ul>
                    <li><a href="/index">Inicio</a><i class="fas fa-house-user"></i></li>
                    <li><a href="/productCart">Carrito</a><i class="fas fa-shopping-cart"></i></li>
                </ul>
                <ul>
                    <li><a href="/login">Loguearse</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="/Register">Registrarse</a><i class="fas fa-registered"></i></li>
                    <li><a href="/productDetail">Productos</a><i class="fas fa-beer"></i></li>
                </ul>
            </nav>
        </div>
        <div class="buscador-barra">
            <form class="barra-buscador" action="/register" method="POST">
                <input type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>
    <main>

        <section>
            <div class="logo">
                <!-- <img src="/images/logo.png" alt="logo"> -->
            </div>
            <div class="Ofertas">
                <div class="Titulares">
                    <H2>Ofertas</H2>
                    <div class="productos">
                        <article>
                            <img src="/img/[2853] ANDES ORIGEN RUBIA 473ml X6.jpg" width="180" alt="Andes Rubia">
                            <div class="precioYdescuento">
                                <div class="oferta">
                                    <p class="precio"> $800</p>
                                    <p class="descuento"> 10% off
                                    </p>
                                </div>
                                <div class="descripcion">Six pack Andes
                                    Rubia</div>

                            </div>

                        </article>

                        <article>
                            <img src="/img/Fernet-Branca.jpg" width="180" alt="Fernet Branca">
                            <div class="precioYdescuento">
                                <div class="oferta">
                                    <p class="precio"> $1200</p>
                                    <p class="descuento"> 15% off
                                    </p>
                                </div>
                                <div class="descripcion">Fernet Branca
                                </div>
                            </div>


                        </article>

                        <article>
                            <img src="/img/Ron-Bacardi.jpg" width="180" alt="Ron Bacardi carta oro">
                            <div class="precioYdescuento">
                                <div class="oferta">
                                    <p class="precio">$1500</p>
                                    <p class="descuento">20% off
                                    </p>
                                </div>
                                <div class="descripcion">Ron Bacardi
                                    carta oro</div>

                            </div>

                        </article>

                        <article>
                            <img src="/img/Vodka-Smirnoff.png" width="200" alt="Vodka-Smirnoff">
                            <div class="precioYdescuento">
                                <div class="oferta">
                                    <p class="precio"> $1800</p>
                                    <p class="descuento">%5 off
                                    </p>
                                </div>
                                <div class="descripcion">Vodka Smirnoff
                                </div>
                            </div>

                        </article>

                        <!--   <article>
                                                              <img src="/images/rutini-cabernet-malbec.jpg"  width="70"   alt="rutini-cabernet-malbec">
                                                              <div class="precioYdescuento">
                                                                        <p class="precio">$2500</p>
                                                                        <p class="descuento">%20 off</p>

                                                              </div>
                                                              <div class="descripcion">Rutini Malbec</div>
                                                    </article> -->
                    </div>

                </div>
            </div>
        </section>
    </main>
</body>

</html>