<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Si pinta, Pinta</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-completo">
            <img class="logo" src="img/logo_duende.png" alt="logo SiPintaPinta">
            <nav class="vinculos">
                <ul>
                    <li><a href="http://localhost:3333/index">Inicio</a><i class="fas fa-house-user"></i></li>
                    <li><a href="http://localhost:3333/productCart">Carrito</a><i class="fas fa-shopping-cart"></i></li>
                </ul>
                <ul>
                    <li><a href="http://localhost:3333/login">Loguearse</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="http://localhost:3333/Register">Registrarse</a><i class="fas fa-registered"></i></li>
                    <li><a href="http://localhost:3333/productDetail">Productos</a><i class="fas fa-beer"></i></li>
                </ul>
            </nav>
        </div>
        <div class="buscador-barra">
            <form class="barra-buscador" action="/register" method="POST">
                <input type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>
</body>
</html>