<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="img/logo_duende.png" alt="logo SiPintaPinta"></div>
        <div>
            <nav>
                <ul>
                    <li><a href="http://localhost:3333/index">Inicio</a><i class="fas fa-house-user"></i></li>
                    <li><a href="http://localhost:3333/productCart">Carrito</a><i class="fas fa-shopping-cart"></i></li>
                    <li><a href="http://localhost:3333/login">Loguearse</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="http://localhost:3333/Register">Registrarse</a><i class="fas fa-registered"></i></li>
                </ul>
            </nav></div>
            <div>
                <i class="fas fa-search"></i>
            </div>
    </header>
</body>
</html>