<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/carrito.css">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-completo">
            <img class="logo" src="img/logo_duende.png" alt="logo SiPintaPinta">
            <nav class="vinculos">
                <ul>
                    <li><a href="/">Inicio</a><i class="fas fa-house-user"></i></li>
                    <li><a href="/productCart">Carrito</a><i class="fas fa-shopping-cart"></i></li>
                </ul>
                <ul>
                    <li><a href="/login">Loguearse</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="/register">Registrarse</a><i class="fas fa-registered"></i></li>
                    <li><a href="/productDetail">Productos</a><i class="fas fa-beer"></i></li>
                </ul>
            </nav>
        </div>
        <div class="buscador-barra">
            <form class="barra-buscador" action="/register" method="POST">
                <input type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>
    <main class="main-carrito">
        <div class="imagen-carrito">
            <img src="/img/cerveza-brahma.webp" alt="Cerveza Brahma" width=80% height="200px">
        </div>
        <div class="product-description">
            <div class="description">
                <p>Descripcion</p>
                <input type="text" name="description" id="description">
            </div>
            <div class="price">
                <p>Precio</p>
                <input type="text" name="price" id="price">
            </div>
            <div class="quantity">
                <p>Cantidad</p> 
                <input type="text" name="quantity" id="quantity">
            </div>
            <div class="subtotal">
            <p>SubTotal</p>
            <input type="text" name="subtotal" id="subtotal">
            </div>

            </div>
            
        </div>

        <div class="imagen-carrito">
            <img src="/img/cerveza-ambar.jpg" alt="Cerveza Ambar" width=80% height="200px">
        </div>
        <div class="product-description">
            <div class="description">
                <p>Descripcion</p>
                <input type="text" name="description" id="description">
            </div>
            <div class="price">
                <p>Precio</p>
                <input type="text" name="price" id="price">
            </div>
            <div class="quantity">
                <p>Cantidad</p> 
                <input type="text" name="quantity" id="quantity">
            </div>
            <div class="subtotal">
            <p>SubTotal</p>
            <input type="text" name="subtotal" id="subtotal">
            </div>

            </div>
            
        </div>
        <div class="total">
            <p>Total:</p>
        </div>




    </main>
    <footer>
        <div class="discount-networks">
            <div class="discount">
                <img src="/img/descuentos1.jpg" width=100% height="150px" art="ImagenDescuentos">
            </div>
            <div class="follow-us"><marquee><h3>Seguinos en todas nuestras redes</h3></marquee></div>
            <div class="networks">
                <a href="https://www.instagram.com/"><img src="/img/instagram.jpg" alt="Instagram" width=60px
                        height="60px"></a>
                <a href="https://www.twitter.com/"><img src="/img/twitter.png" alt="Twitter" width=60px
                        height="60px"></a>
                <a href="https://web.whatsapp.com/"><img src="/img/whatsapp.png" alt="Whatsapp" width=60px
                        height="60px"></a>

            </div>
        </div>
    </footer>
</body>

</html>