.main-carrito{
background-color: orange;

}
.image-carrito{
    box-sizing: border-box;
    text-align: center;
    
    
   
}
.image-carrito img {
    width: 80%;
    height: 300px;
    box-shadow: 0px 0px 10px rgb(100 97 97);
    border: solid 2px white;
    margin-top: 5px;

}
.product-description{
    display: flex;
    justify-content:space-evenly;
    margin: 5px;
    
}
.product-description input{
    border-radius: 7px;
    border: none;
}
.description{
    width: 30%;
    text-align: center;
}
.price{
    width: 20%;
    display: block;
    text-align: center;
}
.quantity{
width: 20%;
display: block;
text-align: center;
}
.subtotal{
    width: 30%;
    text-align: center;
    display: block;
}
.total{
    padding: 10px;
    text-align: center;
}
.total label{
    margin-left: 2px;
    
}
.total input{
    width: 90%;
    border-radius: 7px;
    border: none;
}

.discount{
    border: 1px solid rgb(189, 183, 183);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 3px;
}
.follow-us{
font-family: 'Quicksand', sans-serif;
margin-top: 10px;
}
.networks{
    display: flex;
    justify-content: space-evenly;
}
.networks a{
      font-size: 50px;
      color: black;
     /*  border-radius:solid 7px black; */
    }

.product-description input{
    width:85%
}
