* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

:root {
    --Verde: #335D47;
    --Rojo: #FB582F;
    --Marron: #E47718;
    --Azul: #052963;

    --Cuerpos_de_texto: 15px;
    --Titulares: 24px;
}

main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

H2 {
    text-align: center;
    color: #BF9C53;
    text-shadow: black 0.1em 0.1em 0.2em
} 
main section article img {
    width: 50%;
    text-align: center;
    
}


 article {
    width: 100%;
    padding-top: 5px;
    margin: 5px;
}
div.oferta {
    text-align: center;
}

main article div.precioYdescuento, div.descripcion{
    position: relative; 
    text-align: center;  
}

div.productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}



p, .descripcion{
    color: #BF9C53;
   color: white; text-shadow: #BF9C53 0.1em 0.1em 0.2em
    
}

main{
    background-image: url(/img/barra-de-bar.png);
}

.precioYdescuento{
    border-top: 2px solid #BF9C53 ;
     padding: 15px;
}



@media (min-width: 320px) {
    .article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding-top: 5px;

    }

    main section article img {
        width: 100%;
       
    }
}