* {
   box-sizing: border-box;
}


.body{
   font-family: 'Quicksand', sans-serif;
}

.products{
   text-align: center;
   margin-left: 20px;
   padding-bottom: 10px;
}

.main-homeb{
   font-family: 'Gill Sans';
   
   background-color: orange;


}

.main-homeb section article img {
   width: 50%;
   text-align: center;
}

article {
   width: 90%;
   padding-top: 5px;
   margin: 5px;
}

h2 {
   font-family: 'Gill Sans';
   color: #BF9C53;
   text-shadow: black 0.1em 0.1em 0.1em;
   text-align: center;
   margin-top: 0;
   font-size: 40px;
}



.product a {
   text-decoration: none;
   color: black;
   font-family: 'Gill Sans';

}

.product a:hover {
   text-decoration: underline;
}

.product .imgProduct {
   overflow: hidden;
   /* border-radius: 15px; */

}

.product .imgProduct img {
   width: 100%;
   transition: all 0.5s;
   border: 5px solid white;
   height: 50vh;
}

.product:hover .imgProduct img {
   transform: scale(1.2);
}



/* estilo B */
.product a .imgProduct .discount {
   position: relative;
   bottom: 550px;
   left: -245px;
   font-size: 20px;
   background: yellow;
   padding: 10px;
   color: black;
   border-bottom-right-radius: 25px;
   border-top-right-radius: 25px;
}

.product .descriptiveSet .add-cart {
   display: inline-block;
   margin-top: 2px;
   text-decoration: none;
   background-color: #BF9C53;
   padding: 10px;
   border: 1px solid #BF9C53;
   border-radius: 25px;
}

.product .descriptiveSet .add-cart:hover {
   color: #BF9C53;
   background-color: white;
   border: 1px solid #BF9C53;

}

.product .descriptiveSet {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

}

.product .descriptiveSet h4 {
   margin: 0px;
}
.follow-us {
   font-family: 'Quicksand', sans-serif;
}
.networks{
   display: flex;
   justify-content: space-evenly;
   
}
.networks a{
     font-size: 50px;
     color: black;
     border-radius: 7px;
     
}



@media (min-width: 361px) {

   article {
      width: 45%;
      padding-top: 5px;
   }
   .products {
      display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        margin-left: 0;
   }

   main section article img {
      width: 95%;
   }


   .Oferts {
      display: flex;
      justify-content: center;
      display: flex;
      text-align: center;
   }

   .product {
      font-family: sans-serif;
   }

   .product a .imgProduct .discount {
      position: relative;
      bottom: 550px;
      left: -240px;
      font-size: 20px;
      background: yellow;
      padding: 10px;
      color: black;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
   }
}





















@media (min-width: 768px) {

          article {
                    width: 100%;
                    padding-top: 5px;
          }

          main section article img {
                    width: 100%;
          }


          .Oferts {
                    display: flex;
                    justify-content: center;
                    display: flex;
                    text-align: center;
                    width: 100%;

          }

          .product {
                    font-family: sans-serif;
                    width: 40%;
          }

          .product a .imgProducto .Oferts{
                    position: relative;
                    bottom: 550px;        
                    left: -245px;
                    font-size: 20px;
                    background: yellow;
                    padding: 10px;
                    color: black;
                    border-bottom-right-radius: 25px;
                    border-top-right-radius: 25px;
          }



}