
.follow-us {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
}

.account-register {
    padding-bottom: 15px;
}

.logo-body {
    display: none;
}

.main-login {
    background-color: #ff973b;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: solid 1px black;
}

.form-login {
    text-align: center;
    margin: 5px;
}

.form-login input {
    margin-bottom: 3px;
    outline: none;
}

.main-login a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.main-login form a {
    display: flex;
    text-decoration: underline;
}

.title-login {
    text-align: center;
    background-color: #E47718;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    margin-top: 1px;
    margin-bottom: 20px;
}

.networks{
    display: flex;
    justify-content: space-evenly;
    
    }
    .networks a{
      font-size: 50px;
      color: black;
      border-radius: 7px;
      
    }
.text-register {
    text-align: center;
}

.start-session {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 50%;
}

.input-size {
    width: 47vw;
    height: 26px;
    border: none;
    border-radius: 7px;
}

.back-to-index {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.enter-with button {
    background-color: white;
    border-radius: 10px;
    border: none;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.enter-with .facebook-button{
background-color: rgb(62, 62, 255);
color: white;
}

.fa-google,
.fa-facebook-f {
    display: inline;
    margin-right: 10px;
    font-size: 15px;
}




/* ------TABLET Y DESKTOP----- */
@media (min-width: 768px) {
    .login-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        margin-bottom: 30px;
        justify-content: space-between;
        margin-right: 7px;
    }

    .main-login {
        position: relative;
    }

    .main-login a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        
    }

    .title-login {
        text-align: center;
    }

    .input-size {
        margin-left: 15px;
        width: 35vw;
    }

    .log {
        width: 38%;
    }

    .enter-with {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 10px;
        align-items: center;
    }

    .enter-with button{
        transition: all 0.5s;
    }
    .enter-with button:hover{
        transform: scale(1.2);
    }

    .enter-with p {
        text-align: center;
    }

    .enter-with a {
        display: flex;
        justify-content: center;
    }

    .start-session:hover {
        background-color: aquamarine;
    }

    .networks img {
        margin-top: 4px;
        border: 1px solid gray;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    .networks {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .follow-us {
        font-family: 'Quicksand', sans-serif;
    }
}