.main-productDetail{
    /* background: linear-gradient(to bottom, #042b02, #0a8c03); */
    background-color: orange;
}
.follow-us{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;    
}

.product-price{
    display: flex;
    width: 100%;
}

.title-prices{
    /* max-width: 50%; */
    width: 60%;
    padding-left:20px;
    font-family: 'Quicksand', sans-serif;
}
.product-img{
    max-width: 50%;
    width: 30%;
    padding: 5px 0px 0px 5px;   
}
.product-price h1{
    display: block;
    
}
.prices-pdetail ul{
    list-style: none;
}
.data-products{
    max-width: 50%;
    margin-left: 10px;
}
.data-products h2{
    font-family: 'Quicksand', sans-serif; 
}
.data{
    max-width: 50%;
    margin-left: 10px;
    line-height: 25px;
}
.information{
    display: flex;
}

.valoration{
    margin-left: 10px;
}
.buttons{
    display: inline-flex;
}


.networks{
display: flex;
justify-content: space-evenly;
}
.networks a{
font-size: 50px;
color: black;
border-radius: 7px;
}

.prices-description{
    font-size: large;
}

@media (min-width: 767px) {
    .title-prices{
        font-size: 24px;
    }

    .information{
        font-size: 22px;
    }

    .valoration{
        font-size: 22px;
    }
    .prices-pdetail ul{
        line-height: 70px;
    }

    .data{
        line-height: 35px;
    }

}

@media (min-width: 1024px){
    .prices-pdetail ul{
        line-height: 90px;
    }

    .over-andes p{
        line-height: 40px;
    }
}
