.main-productDetail{
    background: linear-gradient(to bottom, #042b02, #0a8c03);
}
.follow-us{
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;    
}

.product-price{
    display: flex;
}

.title-prices{
    max-width: 50%;
}

.product-price h1{
    display: block;
    -webkit-text-stroke: 2px #5c2b03;
    color:#914303 ;
}

.prices-pdetail ul{
    right: 15px;
    list-style: none;
    margin-right: 10px;
    line-height: 25px;
}

.product-img{
    max-width: 50%;
}

.data-products{
    max-width: 50%;
    margin-left: 10px;
}

.data-products h2{
    -webkit-text-stroke: 2px #5c2b03;
    color:#914303 ;
}

.data{
    max-width: 50%;
    margin-left: 10px;
    line-height: 25px;
}

.information{
    display: flex;
}

.valoration{
    margin-left: 10px;
}
.networks{
display: flex;
justify-content: space-evenly;
}
.networks a{
font-size: 50px;
color: black;
border-radius: 7px;
}

.prices-description{
    -webkit-text-stroke: 2px #080706;
    font-size: large;
}

@media (min-width: 767px) {
    .title-prices{
        font-size: 24px;
    }

    .information{
        font-size: 22px;
    }

    .valoration{
        font-size: 22px;
    }

    /* .vinculos ul li{
        padding: 10px;
    } */

    .prices-pdetail ul{
        line-height: 70px;
    }

    .data{
        line-height: 35px;
    }

}

@media (min-width: 1024px){
    .prices-pdetail ul{
        line-height: 90px;
    }

    .over-andes p{
        line-height: 40px;
    }
}
