.questions{
 margin: 10px;
}
.questions label{
display: block;
}
.networks{
display: flex;
justify-content: space-evenly;

}
.networks a{
  font-size: 50px;
  color: black;
  border-radius: 7px;
  
}
/* .networks i {
 border-radius: 50px;  

} */
.input-create{
    border-radius: 7px;
    width: 95%;
    height: 26px;
    border: none;
    outline: none;
}
.buttons-register{
    
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    height: 30px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.buttons-register:hover{
    background-color: aquamarine;
}
.main-register{
background-color: white;
}
.title-register{
    text-align: center;
}
.title-register , .information-register{
    background-color: #E47718;
}
.networks img{
margin-top: 4px;
border: 1px solid gray;
box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.form-questions{
    border: solid 1px black;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: #ff973b;
}
.information-tablet{
    display: none;
}
.discount{
    border: 1px solid rgb(189, 183, 183);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 3px;
}
.follow-us{
font-family: 'Quicksand', sans-serif;
margin-top: 10px;    
}
/* TABLET */
@media (min-width: 425px) {
.information-register{
display: none;
}
.form-questions{
    width: 50%;
    border: none;
    box-shadow: none;
}
.information-tablet{
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    border-right:1px double black;
    padding-right: 8px;
}
.information-questions{
    display: flex;
}
}
/* Computadora */
@media (min-width: 768px) {
.questions label{
/* display: contents; */
align-items: center;
/* justify-content: center; */
text-align: center;
}
.questions{
    margin: none;
}
.information-tablet{
    width: 50%;
}
.form-questions{
    padding-left: 10px;
}

}