:root {
    --Verde: #335D47;
    --Rojo: #FB582F;
    --Marron:#E47718;
    --Azul:#052963;

    --Cuerpos_de_texto: 15px;
    --Titulares: 24px;
}
body{
    margin: 0;
}


/* -------- Search bar ------------ */


/* ---------         ------------- */





footer{
    background: linear-gradient(to bottom,orange, /* rgb(233, 189, 109), */ white);
}

footer h3{
    margin: 0;
    font-size: 1.5em;
    margin-top:2px ;
}

.networks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}
.networks .twitter:hover{
color:#1d9bf0
}
.networks .whatsapp:hover{
color:#25d366
}

.networks .instagram:hover{     
    background: -moz-linear-gradient(45deg, #f09433 0%, #ff8051 25%, #e25167 50%, #cc2366 75%, #911369 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#ff8051 25%,#e25167 50%,#cc2366 75%,#83115f 100%); 
    background: linear-gradient(45deg, #f09433 0%,#ff8051 25%,#e25167 50%,#cc2366 75%,#771257 100%); 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
   }

@media (min-width: 767px) {
   
    .networks img {
        margin-top: 4px;
        border: 1px solid gray;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }
    .networks {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .product{
        width: 20%;
        margin-bottom: 30px;
        
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1024px){

}
