.body{
    font-family: 'Quicksand', sans-serif;
}
img{
    width: 40%;
    border-radius: 50%;
}
.center{
    margin: auto;
    display: block;
}

body{
background-color: orange;
}

.container{
display: flex;
justify-content: center;
}

.alert-success{
    text-align: center;
    font-size: 1.4em;
}

h2{
    text-align: center;
}




@media (min-width: 767px){
    img{
        width: 40%;
        border-radius: 50%;
    }
}


@media (min-width: 1000px){
    img{
        width: 40%;
        border-radius: 50%;
    }
}
