<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Si pinta, Pinta</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/homeb.css">
    </head>
    
    
<body>
    <%- include("./partials/header") %> 
    <main>

        <section>
            <div class="Ofertas">


                <div class="productos">
                    <h2>Ofertas</h2>
                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="/img/Corona-out.jpg" alt="Corona-sixpack">
                                <span class="descuento">5% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Cerveza Corona six pack</h4>
                            <strong class="precio">$800 | 5% Off</strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>


                        </div>



                    </article>

                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="/img/jack daniels-out.jpg" alt="Jack Daniels">
                                <span class="descuento">10% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Jack Daniel's Old No. 7</h4>
                            <strong class="precio">$5600 | 10% Off</strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>



                        </div>

                    </article>

                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="/img/bombay - out.png" alt="Gin Bombay">

                                <span class="descuento">15% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Gin Bombay Sapphire</h4>
                            <strong class="precio">$5000 | 15% Off</strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>



                        </div>



                    </article>

                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="/img/ronBacardi-out.jpg" alt="Ron Barcadi">
                                <span class="descuento">10% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Ron Bacardi Carta Oro</h4>
                            <strong class="precio">$1600 | 10% Off</strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>



                        </div>



                    </article>

                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="img/Smirnoff-out.jpg" alt="Smirnoff">
                                <span class="descuento">20% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Vodka Smirnoff</h4>
                            <strong class="precio">$1300 | 20% Off </strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>



                        </div>



                    </article>

                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="/img/fernet-out.jpg" alt="Fernet Branca">
                                <span class="descuento">10% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Fernet Branca</h4>
                            <strong class="precio">$1250 | 10% Off</strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>



                        </div>



                    </article>

                    <article class="Producto">
                        <a href="#">
                            <div class="imgProducto">
                                <img src="/img/Jägermeister-out.png" alt="Jägermeister">
                                <span class="descuento">10% Off</span>
                            </div>

                        </a>
                        <div class="conjuntoDescriptivo">
                            <h4>Jägermeister</h4>
                            <strong class="precio">$5850 | 10% Off Off</strong>
                            <a href="#" class="add-cart">Añadir al carrito</a>



                        </div>



                    </article>



                </div>
            </div>

        </section>
    </main>
</body>
<%- include("./partials/footer.ejs") %>
</html>