<footer>
    <div class="discount-networks">
        <div class="follow-us"><marquee><h3>Seguinos en todas nuestras redes</h3></marquee></div><br>
        <div class="networks">
            
            <a class="instagram" href="https://www.instagram.com/maxii_colombo/"><i class="fab fa-instagram"></i></a>
            <a class="twitter"   href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a class="whatsapp"  href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>

        </div>
    
</footer>

