<footer>
    <div class="discount-networks">
        <div class="follow-us"><marquee><h3>Seguinos en todas nuestras redes</h3></marquee></div><br>
        <div class="networks">
            <a href="https://www.instagram.com/"><img src="/img/instagram.jpg" alt="Instagram" width=60px
                    height="60px"></a>
            <a href="https://www.twitter.com/"><img src="/img/twitter.png" alt="Twitter" width=60px
                    height="60px"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/whatsapp.png" alt="Whatsapp" width=60px
                    height="60px"></a>

        </div>
    
</footer>