<footer>
    <div class="discount-networks">
        <div class="follow-us"><marquee><h3>Seguinos en todas nuestras redes</h3></marquee></div><br>
        <div class="networks">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>

        </div>
    
</footer>