
<header>
    <div class="header-full">
        <img class="logo" src="/img/logo_duende.png" alt="logo SiPintaPinta">
        <nav class="header-links">
            <ul>
                <li><a href="/">Inicio</a><i class="fas fa-house-user"></i></li>
                <li><a href="/users/login">Loguearse</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/users/register">Registrarse</a><i class="fas fa-registered"></i></li>
            </ul>
            <ul>
                <li><a href="/products/productDetail">Productos</a><i class="fas fa-beer"></i></li>
                <li><a href="/products/productCart">Carrito</a><i class="fas fa-shopping-cart"></i></li>
                <li><a href="/products/editar">Editar</a><i class="fas fa-edit"></i></li>
                <li><a href="/products/crear">Crear</a><i class="fas fa-plus"></i></li>
                

            </ul>
        </nav>
    </div>
    <div class="finder-bar">
        <form class="seeker" action="/register" method="POST">
            <input type="text" name="seeker-name" id="seeker-id" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>