
<header>
    <div class="header-completo">
        <img class="logo" src="/img/logo_duende.png" alt="logo SiPintaPinta">
        <nav class="vinculos">
            <ul>
                <li><a href="/">Inicio</a><i class="fas fa-house-user"></i></li>
                <li><a href="/products/productCart">Carrito</a><i class="fas fa-shopping-cart"></i></li>
            </ul>
            <ul>
                <li><a href="/users/login">Loguearse</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/users/register">Registrarse</a><i class="fas fa-registered"></i></li>
                <li><a href="/products/productDetail">Productos</a><i class="fas fa-beer"></i></li>
            </ul>
        </nav>
    </div>
    <div class="buscador-barra">
        <form class="barra-buscador" action="/register" method="POST">
            <input type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>