<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">


</head>


<%- include("../partials/header") %>

    <body>
        <main class="main-login">
            <a href="/">Volver a inicio</a>
            <h3 class="title-login">Inicio de Sesion</h3>
            <div class="full-structure">
                <form action="/users/log" method="POST" class="form-login">

                    <div class="login-form">
                        <div class="log">
                            <label for="email">Correo Electronico</label><br>
                            <input type="email" name="email" id="email"><br>
                            <label for="password-login">Contraseña</label><br>
                            <input type="password" name="contraseña" id="contraseña"><br>
                            <a href="#">Olvide mi contraseña</a><br>
                            <input class="start-session" type="submit" value="Iniciar Sesion">
                            <br><br>
                        </div>
                </form>
                <div class="enter-with">
                    <form action="reg/google" method="POST" class="form-login">
                        <button>Continuar con Google</button><br><br>
                    </form>
                    <div class="enter-with">
                        <form action="reg/facebook" method="POST" class="form-login">
                            <button>Continuar con Facebook</button><br>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="account-register">
                <p class="text-register">¿Aun no tienes una cuenta?</p>
                <form action="/users/reg" method="POST" class="form-login">
                    <input class="start-session" type="submit" value="Registrarse">
                </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>