<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/d9380e76ff.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">


</head>


<%- include("../partials/header") %>

    <body>
        <a class="back-to-index"href="/">Volver a inicio</a>
        <h3 class="title-login">Inicio de Sesion</h3>
        <main class="main-login">
            <!-- express validator -->
            <% if(locals.errors) { %> <% } %>
            <!-- express validator -->

            <!-- <a href="/">Volver a inicio</a> -->
            <!-- <h3 class="title-login">Inicio de Sesion</h3> -->
            <div class="full-structure">
                <form action="/users/log" method="POST" class="form-login">

                    <div class="login-form">
                        <div class="log">
                            <label for="email">Correo Electronico</label><br>
                            <input class="input-size" type="email" name="email" id="email"><br>

                            <% if (locals.errors && errors.email) { %>
                                <div class="text-errors"><%= errors.email.msg %></div>
                                <% } %>

                            <label for="password-login">Contraseña</label><br>
                            <input class="input-size" type="password" name="password" id="password"><br>

                            <% if (locals.errors && errors.password) { %>
                                <div class="text-errors"><%= errors.password.msg %></div>
                                <% } %>

                            <a href="#">Olvide mi contraseña</a><br>
                            <input class="start-session" type="submit" value="Iniciar Sesion">
                            <br><br>
                        </div>
                </form>
                <div class="enter-with">
                    <form action="reg/google" method="POST" class="form-login">
                        <button class="google-button"><i class="fa-brands fa-google"></i>Continuar con Google</i></button><br><br>
                    </form>
                    <div class="enter-with">
                        <form action="reg/facebook" method="POST" class="form-login">
                            <button class="facebook-button"><i class="fa-brands fa-facebook-f"></i>Continuar con Facebook</i></i></i></button><br>
                        </form>
                    </div>
                    <div class="enter-with">
                        <label for="file">Imagen</label>
                        <input type="file" name="file-image-product" id="file" class="create-questions-input" accept="jpg,png" />
                    </div>
                </div>
                
            </div>
            <div class="account-register">
                <p class="text-register">¿Aun no tienes una cuenta?</p>
                <form action="/users/reg" method="POST" class="form-login">
                    <input class="start-session" type="submit" value="Registrarse">
                </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>

</html>